<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="header">
</head>
<body>
	<div class="container">
		<div class="row" th:include="toolbar"></div>
		<div class="row">
			<div
				th:include="left(params1='sysuser')"></div>
			<div class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-body">

						<form class="form-horizontal"
							th:action="@{/sys/sysuser/save}"
							method="post">

							<fieldset>
								<input type="hidden" name="id" th:value="${model.id}">
								<div class="form-group">
									<div class="col-md-10">

										<button type="submit" class="btn btn-default"
											th:text="#{form.save}">save</button>
									</div>
								</div>
								
								<div class="form-group">

									<label class="col-md-2 control-label" for="siteId">站点</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="siteId" name="siteId" placeholder="站点" required="true" th:value="${model.siteId}">
									</div>
									
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="name">用户名</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="name" name="name" placeholder="用户名" required="true" th:value="${model.name}">
									</div>
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="password">密码</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="password" name="password" placeholder="密码" required="true" th:value="${model.password}">
									</div>
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="nickName">用户昵称</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="nickName" name="nickName" placeholder="用户昵称" required="true" th:value="${model.nickName}">
									</div>
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="deptId">部门</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="deptId" name="deptId" placeholder="部门" required="false" th:value="${model.deptId}">
									</div>
									
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="roles">角色</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="roles" name="roles" placeholder="角色" required="false" th:value="${model.roles}">
									</div>
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="email">邮箱</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="email" name="email" placeholder="邮箱" required="false" th:value="${model.email}">
									</div>
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="emailChecked">已验证邮箱</label>
									<div class="col-md-10">
										<div class="checkbox">
											<label> <input type="checkbox" 
												id="emailChecked" name="emailChecked" placeholder="已验证邮箱" th:checked="${model.emailChecked}"><span
												class="toggle"></span>
											</label>
										</div>
									</div>
									
									
									
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="superuserAccess">是否管理员</label>
									<div class="col-md-10">
										<div class="checkbox">
											<label> <input type="checkbox"
												id="superuserAccess" name="superuserAccess" placeholder="是否管理员" th:checked="${model.superuserAccess}"><span
												class="toggle"></span>
											</label>
										</div>
									</div>
									
									
									
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="disabled">已禁用</label>
									<div class="col-md-10">
										<div class="checkbox">
											<label> <input type="checkbox" 
												id="disabled" name="disabled" placeholder="已禁用" th:checked="${model.disabled}">
											</label>
										</div>
									</div>
									
									
									
								</div>
							<!-- 	<div class="form-group">

									<label class="col-md-2 control-label" for="lastLoginDate">上次登录日期</label>
									
									<div class="col-md-10">
										<input type="text" class="form-control dateInput"
											id="lastLoginDate" name="lastLoginDate" placeholder="上次登录日期" required="false" th:value="${model.lastLoginDate}">
									</div>
									
									
								</div> -->
								<div class="form-group">

									<label class="col-md-2 control-label" for="lastLoginIp">上次登录IP</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="lastLoginIp" name="lastLoginIp" placeholder="上次登录IP" required="false" th:value="${model.lastLoginIp}">
									</div>
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="loginCount">登录次数</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="loginCount" name="loginCount" placeholder="登录次数" required="true" th:value="${model.loginCount}">
									</div>
									
								</div>
								<!-- <div class="form-group">

									<label class="col-md-2 control-label" for="registeredDate">注册日期</label>
									
									<div class="col-md-10">
										<input type="text" class="form-control dateInput"
											id="registeredDate" name="registeredDate" placeholder="注册日期" required="false" th:value="${model.registeredDate}">
									</div>
									
									
								</div> -->
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function() {
			$(".dateInput").datetimepicker({
				format : 'yyyy-mm-dd hh:ii:ss'
			});

		});
	</script>
</body>
</html>