<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="header">

</head>
<body>
	<div class="container">
		<div class="row" th:include="toolbar"></div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-body">
						<form class="form-horizontal"
							th:action="@{/cms/cmscontentrelated/save}"
							method="post">
							<fieldset>
								<legend>表单</legend>
								<input type="hidden" name="id" th:value="${model.id}">

								

								<div class="form-group">

									<label class="col-md-2 control-label" for="contentId">内容</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="contentId" name="contentId" placeholder="内容" required="true" th:value="${model.contentId}">
									</div>
									
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="relatedContentId">推荐内容</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="relatedContentId" name="relatedContentId" placeholder="推荐内容" required="false" th:value="${model.relatedContentId}">
									</div>
									
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="userId">推荐用户</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="userId" name="userId" placeholder="推荐用户" required="true" th:value="${model.userId}">
									</div>
									
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="url">推荐地址</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="url" name="url" placeholder="推荐地址" required="false" th:value="${model.url}"
											>
									</div>
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="title">推荐标题</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="title" name="title" placeholder="推荐标题" required="false" th:value="${model.title}"
											>
									</div>
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="description">推荐描述</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="description" name="description" placeholder="推荐描述" required="false" th:value="${model.description}"
											>
									</div>
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="clicks">点击数</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="clicks" name="clicks" placeholder="点击数" required="true" th:value="${model.clicks}">
									</div>
									
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="sort">排序</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="sort" name="sort" placeholder="排序" required="true" th:value="${model.sort}">
									</div>
									
								</div>
								<!-- <div class="form-group">
									<label for="inputEmail" class="col-md-2 control-label">类型</label>

									<div class="col-md-10">
										<input type="text" class="form-control" id="inputEmail"
											name="category" placeholder="category"
											th:value="${cmsContent.categoryId}">
									</div>
								</div>

								<div class="form-group">
									<label for="textArea" class="col-md-2 control-label">Textarea</label>

									<div class="col-md-10">
										<textarea class="form-control" rows="10"
											data-provide="markdown" name="content" id="textArea"
											th:text="${cmsContentAttribute.text}">
									
									</textarea>
										<span class="help-block">A longer block of help text
											that breaks onto a new line and may extend beyond one line.</span>
									</div>
								</div>
								-->
								<div class="form-group">
									<div class="col-md-10 col-md-offset-2">
										<button type="button" class="btn btn-default"
											th:text="#{form.cancal}">cancal</button>
										<button type="submit" class="btn btn-primary"
											th:text="#{form.submit}">Submit</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function() {
			$(".dateInput").datetimepicker({
				format : 'yyyy-mm-dd hh:ii:ss'
			});

		});
	</script>
</body>
</html>