<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="/alphablue/header">

</head>
<body class="">
	<div class="bg">
		<div class="dbf dbf_white">
			<p class="logo">
				<a href="index.html" th:href="@{/alphablue/index.html}"> <img
					src="images/logo_blue.png"
					th:src="@{/alphablue/images/logo_blue.png}" height="65"
					class="logo_blue large"></a>
			</p>
			<!--导航-->
			<div class="topRightDom">
				<div th:include="alphablue/nav">
					<!--<div class="rm"> <a class="zc" href="https://www.zipeiyi.com/regist/regist.html">注册</a> <a class="dr" href="https://www.zipeiyi.com/login/login.html">登录</a> </div>-->
				</div>
				<!--<div class="rm"> <a class="zc" href="https://www.zipeiyi.com/regist/regist.html">注册</a> <a class="dr" href="https://www.zipeiyi.com/login/login.html">登录</a> </div>-->
			</div>
		</div>

		<div class="content_news">

			<!--新闻列表-->
			<div id="articleList" class="list_news">
				<div
					style="color: #666; font-size: 14px; padding: 20px 20px 0; position: absolute; margin-top: -50px"
					th:text="${category.name}">新闻</div>
				<div class="list_info">
					<div id="articleTitle" class="title" th:text="${cmsContent.title}">长期吹空调能吹出空气污染?</div>
					<div class="title_sm">
						<span id="publishDate" th:text="${cmsContent.publishDate}"
							class="icon_1">2016-07-28</span> <span class="icon_2"> 来自：<span
							id="author" th:text="${cmsContent.author}"> </span></span>
					</div>
					<div class="img_top"> <img width="100%" height="100%" src="images/temp1.jpg" th:src="@{${cmsContent.cover}}" id="img"> </div>
					<div th:utext="${attribute.text}" id="articleContent" class="content"></div>
				</div>
			</div>
		</div>
	</div>
	<!--底部-->
	<div th:include="alphablue/footer"></div>
</body>
</html>