<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="header">
</head>
<body>
	<div class="container">
		<div class="row" th:include="toolbar"></div>
		<div class="row">
			<div
				th:include="left(params1='alphablueorder')"></div>
			<div class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-body">

						<form class="form-horizontal"
							th:action="@{/sys/alphablueorder/save}"
							method="post">

							<fieldset>
								<input type="hidden" name="id" th:value="${model.id}">
								<div class="form-group">
									<div class="col-md-10">

										<button type="submit" class="btn btn-default"
											th:text="#{form.save}">save</button>
									</div>
								</div>
								
								<div class="form-group">

									<label class="col-md-2 control-label" for="userId">用户</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="userId" name="userId" placeholder="用户" required="false" th:value="${model.userId}">
									</div>
									
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="productId">产品</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="productId" name="productId" placeholder="产品" required="false" th:value="${model.productId}">
									</div>
									
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="count">数量</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="count" name="count" placeholder="数量" required="false" th:value="${model.count}">
									</div>
									
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="allprice">价格</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="allprice" name="allprice" placeholder="价格" required="false" th:value="${model.allprice}">
									</div>
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="receiver">收货人</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="receiver" name="receiver" placeholder="收货人" required="false" th:value="${model.receiver}">
									</div>
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="address">收货人地址</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="address" name="address" placeholder="收货人地址" required="false" th:value="${model.address}">
									</div>
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="telphone">收货人电话</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="telphone" name="telphone" placeholder="收货人电话" required="false" th:value="${model.telphone}">
									</div>
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="ordertype">订单类型</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="ordertype" name="ordertype" placeholder="订单类型" required="false" th:value="${model.ordertype}">
									</div>
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="discount">折扣</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="discount" name="discount" placeholder="折扣" required="false" th:value="${model.discount}">
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function() {
			$(".dateInput").datetimepicker({
				format : 'yyyy-mm-dd hh:ii:ss'
			});

		});
	</script>
</body>
</html>