<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="空气净化器" />
<meta name="keywords" content="空气净化器,爱尔法蓝,-爱尔法蓝空气净化器官网" />
<title>航天爱锐空气净化航天爱锐空气净化器官网</title>
<link rel="stylesheet" type="text/css" href="css/index_new.css" th:href="@{/alphablue/css/index_new.css}">
<link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/alphablue/css/main.css}">
<link rel="stylesheet" type="text/css" href="css/news.css" th:href="@{/alphablue/css/news.css}">
<link rel="stylesheet" type="text/css" href="css/footer1.css" th:href="@{/alphablue/css/footer1.css}">
<link rel="stylesheet" type="text/css" href="css/footer1.css" th:href="@{/alphablue/css/page.css}">
