<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="空气净化器" />
<meta name="keywords" content="空气净化器,爱尔法蓝,-爱尔法蓝空气净化器官网" />
<title>航天爱锐空气净化航天爱锐空气净化器官网</title>
<link rel="stylesheet" type="text/css" href="css/index_new.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<!--<link rel="stylesheet" type="text/css" href="css/news.css">-->
<link rel="stylesheet" type="text/css" href="css/footer1.css">
<style>
.content_news {
	padding-top: 82px;
}
.list_img {
	height: 388px;
	background: url(images/ancs3.jpg) no-repeat center center;
}
.list_news {
	width: 1280px;
	padding-top: 20px;
	margin: 63px auto;
}
.list_info .title {
	color: #0366ce;
	width: 290px;
	float: left;
}
.list_info .title h3 {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
}
.list_info .title h4 {
	font-weight: bold;
	font-size: 18px;
}
.list_info .content {
	color: #5b5b5b;
	width: 954px;
	float: left;
}
.list_info .content p {
	text-indent: 40px;
	line-height: 30px;
	font-size: 14px;
}
.list_info .content .propagate img{
	border: 0;
	margin:15px 0 0 3px;
}
.list_info:after {
	clear: both;
	content: '.';
	display: block;
}
</style>
</head>
<body class="">
<div class="bg">
  <div class="dbf dbf_white">
    <p class="logo"> <a href="index.html"> <img src="images/logo_blue.png"  height="65" class="logo_blue large"></a></p>
    <!--导航-->
    <div class="topRightDom">
      <div class="nav">
        <ul class="first_nav">
          <li><a href="view_company.html" class="first_nav_link">概况
            <ul class="second_nav">
              <li class="second_nav_li"><span class="second_nav_link" url="view_company.html">公司概况</span></li>
              <li class="second_nav_li"><span class="second_nav_link" url="view_product.html">产品概况</span></li>
            </ul>
            </a> </li>
          <li><a href="product_one.html" class="first_nav_link">滤网型
            <ul class="second_nav">
              <li class="second_nav_li"><span class="second_nav_link" url="product_one.html#1">产品外观</span></li>
              <li class="second_nav_li"><span class="second_nav_link" url="product_one.html#2">核心技术</span></li>
              <li class="second_nav_li"><span class="second_nav_link" url="product_one.html#3">优势解析</span></li>
              <li class="second_nav_li"><span class="second_nav_link" url="product_one.html#4">技术指标</span></li>
            </ul>
            </a> </li>
          <li><a href="product_two.html" class="first_nav_link">无耗材型
            <ul class="second_nav">
              <li class="second_nav_li"><span class="second_nav_link" url="product_two.html#1">产品外观</span></li>
              <li class="second_nav_li"><span class="second_nav_link" url="product_two.html#2">核心技术</span></li>
              <li class="second_nav_li"><span class="second_nav_link" url="product_two.html#3">优势解析</span></li>
              <li class="second_nav_li"><span class="second_nav_link" url="product_two.html#4">技术指标</span></li>
            </ul>
            </a></li>
          <li><a href="javascript:void(0);" class="first_nav_link">活动</a></li>
          <li><a href="share_science.html" class="first_nav_link">分享
            <ul class="second_nav">
              <li class="second_nav_li"><span class="second_nav_link" url="share_science.html">科普</span></li>
              <li class="second_nav_li"><span class="second_nav_link" url="share_news.html">新闻</span></li>
            </ul>
            </a></li>
          <li><a href="download.html" class="first_nav_link">下载</a></li>
          <li><a href="contact.html" class="first_nav_link">联系我们</a></li>
          <li><a href="login.html" class="first_nav_link">家园</a></li>
          <li><a class="buy" href="buy_first.html">立即购买</a></li>
          <!--<li class="smallLink"><a class="navLink_login" href="login.html">登录</a> &nbsp;|&nbsp; <a class="navLink_login" href="regist.html">注册</a></li>-->
        </ul>
      </div>
      <!--<div class="rm"> <a class="zc" href="https://www.zipeiyi.com/regist/regist.html">注册</a> <a class="dr" href="https://www.zipeiyi.com/login/login.html">登录</a> </div>--> 
    </div>
  </div>
</div>
<div style="position: relative; overflow:auto;" class="container">
  <div class="content_news" style="display:block;">
    <div class="list_img"></div>
    <!--新闻列表-->
    <div class="list_news">
      <div class="list_info">
        <div class="title">
          <h3>PRODUCT</h3>
          <h4>产品概况</h4>
        </div>
        <div class="content">
          <p>目前，市场上销售的空气净化器主要分为带滤网式和静电集尘式两大类。</p>
          <p>带滤网式空气净化器以其过滤技术成熟、同价位时性能指标优于静电集尘式空气净化器的特点，占据了80%的市场。其存在以下缺点：1）需及时更换滤网及其他配件，维护费用较高；2）不及时更换滤网易形成污染源，产生二次污染。</p>
          <p>静电集尘式空气净化器以其不需要更换滤网及其他配件的特点，占据了20%的市场。其存在以下缺点：1）臭氧排放量指标不理想；2）过滤范围有限，仅大粒子气体颗粒物过滤效果好，但甲醛、苯等有机物过滤效果甚微；3）产品性能衰弱较快，综合性能不稳定</p>
          <p>航天爱锐空气净化器则是空气净化器领域一个革命性的突破，它获得了滤网过滤技术的新专利，提升了过滤能力，并在不需更换滤网及其他配件的同
            时，完美解决了静电集尘式空气净化器存在的问题，各项性能指标均优于同类产品。</p>
          <p>为了使不同层次的客户均能享受航天技术带来的优质服务，航天爱锐将同步推出带滤网式和静电集尘式两种空气净化器，定义为精英版和至尊版。产品上市后，根据客户的反馈，我们将不断进行研发创新，保证产品技术的领先优势。</p>
          <div class="propagate"> <img src="images/view_product_01.jpg" width="229" height="159" alt=""/> <img src="images/view_product_02.jpg" width="229" height="159" alt=""/> <img src="images/view_product_03.jpg" width="229" height="159" alt=""/> <img src="images/view_product_04.jpg" width="229" height="159" alt=""/> </div>
        </div>
      </div>
    </div>
  </div>
  <!--底部-->
  <div class="base page  scale"> 
    <div class="footler">
          <div class="contact">
              <dl class="left">
                    <dt class="title">联系我们</dt>
                    <dd class="footerText_blur">
                    	<img src="images/footerIcon1.png"  class="footer_icon1">010-58025399
                    </dd>
                   <dd class="textDiv">
                            传真：010-58025480<br>
                            邮编：100176<br>
                            地址：北京经济技术开发区锦绣街航天科技园A区B座5楼<br>
                            Copyright ©2016-2019 北京航天爱锐科技有限责任公司 all rights reserved
                   </dd>
            </dl>
            <dl class="right">
                        <dt class="title">友情链接</dt>
                       <dd class="textDiv">
                        <img src="images/footerIcon2.png"  class="footer_icon2"><a target="_blank" href="http://www.spacechina.com">中国航天科技集团官网</a>
                        <br />
						<img src="images/footerIcon2.png"  class="footer_icon2"><a target="_blank" href="http://http://www.calt.com">中国运载火箭技术研究院</a>
                       </dd>
                </dl>
          </div>
    </div>
  </div>
</div>
<script src="js/jquery.js"></script> 
<script type="text/javascript" src="js/common.js"></script> 
<script src="js/main.js"></script>
</body>
</html>