
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css"
	th:href="@{/bootstrap-3.3.5/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css"
	th:href="@{/bootstrap-3.3.5/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css"
	th:href="@{/material/bootstrap-material-design.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/material/ripples.min.css}" />
<script type="text/javascript" th:src="@{/jquery/dist/jquery.min.js}">
	
</script>
<script type="text/javascript"
	th:src="@{/bootstrap-3.3.5/js/bootstrap.min.js}">
	
</script>
<script type="text/javascript" th:src="@{/material/material.js}">
	
</script>
<script type="text/javascript" th:src="@{/material/ripples.js}">
	
</script>

<link
	href="http://cdn.bootcss.com/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css"
	rel="stylesheet"
	th:href="@{/bootstrap-3.3.5/css/bootstrap-markdown.min.css}" />
<script
	src="http://cdn.bootcss.com/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js"
	th:src="@{/bootstrap-3.3.5/js/bootstrap-markdown.min.js}"></script>
<script th:src="@{/utils/Chart.bundle.min.js}"></script>
<script th:src="@{/utils/bootstrap-datetimepicker.min.js}"></script>

<script th:src="@{/utils/parsley.min.js}"></script>
<script th:src="@{/utils/i18n/zh_cn.js}"></script>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css"
	th:href="@{/utils/css/bootstrap-datetimepicker.min.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css"
	th:href="@{/utils/css/parsley.css}" />
<meta name="viewport" content="width=device-width, initial-scale=1">