<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
<title th:text="${cmsContent.title}"></title>

</head>
<link rel="stylesheet" type="text/css" media="all"
	href="http://news-at.zhihu.com/css/news_qa.auto.css?v=4b3e3" />
<body>

	<div class="container">
		<div class="row">
			<ul class="breadcrumb" style="margin-bottom: 5px;">
				<li><a href="javascript:void(0)">Home</a></li>
				<li><a href="javascript:void(0)">Library</a></li>
				<li class="active">Data</li>
			</ul>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<div th:utext="${attribute.text}"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
