body{background:#f2f2f2;}
h5{font-weight:normal;}
.container{height:auto;}


/*右边原点列表*/
.mainList{position: fixed;right:40px;top:400px;z-index:99999;width:0;height:0;overflow:hidden;}
.mainList li{width:10px;height:10px;border:1px solid #0366ce;border-radius: 50%;
	margin-top:10px;background: #fff;list-style: none;}
.mainList .checked{background-color:#0366ce;}
.firstScreen,.secondScreens,.thirdScrees,.fourthScrees,.fifthScrees,.sixthScrees{min-height:500px;overflow:hidden;}
/*第一屏*/
.firstScreen{position: relative;}
.mouseImg{width:28px;height:188px;
	position:absolute;bottom:0;left:50%;margin-left:-14px;z-index: 9999;}
.mouseBase{}
.mouseArrow{position: absolute;top:44px;left:50%;margin-left:-5px;-webkit-animation:move 1.5s infinite ease;
	animation:move 1.5s infinite ease;}
.mouseLine{display:block;width:2px;height:80px;position: absolute;bottom:28px;
	left:50%;margin-left:-1px;background-color: rgba(255,255,255,0.9);}
/*第二屏*/
.secondScreens{background: #f2f2f2;padding:0;position: relative;}
.secondScreens .content {text-align: center; background:url(../images/intro-02.png) no-repeat center bottom; width:100%; height:100%;}
.secondScreens .title {margin-bottom: 40px;padding-top: 135px;color: #212121;font-size: 40px;font-weight: normal;line-height: 50px;}
.secondScreens .desc {font-size: 16px;font-weight: normal;line-height: 26px; margin: 0 0 100px;}
.secondLeft,.secondRight{width:50%;float:left;}
.secondRight{position: relative;}
.secondLeft *,.fourthFont *,.fifthScrees *{text-align: center;color:#333;}
.secondLeft h5{padding-top:300px;font-size:30px;}
.secondLeft .firstP{padding-top:68px;}
.secondLeft .lastP{margin-bottom:310px;}
.lastP{margin-bottom:280px;}
.secondRight img{position: absolute;left:50%;margin-left:-324px;transition:all 1s ease 6s;-webkit-transition:all 1s ease 6s;-moz-transition:all 1s ease 6s;-ms-;transition:all 1s ease 6s;-o-;transition:all 1s ease 6s;}
.secondRight .secoImg1{top:410px;}
.secondRight .secoImg2{top:360px;}
.secondRight .secoImg3{top:310px;}
.secondRight .secoImg4{top:260px;}
.secondRight .secoImg5{top:230px;left:60px;margin:0;}
.secondRight .secoImg6{top:150px;left:565px;margin:0;}
.secondRight img.secoDefault{top:410px;}
/*第三屏*/
.thirdScrees .content {background: url(../images/intro-02.jpg) no-repeat;width:100%;height:100%; background-size:cover;}
.thirdScrees .title {color: #212121;font-size: 40px;font-weight: normal; text-align:center; padding-top:135px; margin-bottom:40px;}
.thirdScrees .intro-list{text-align:center; line-height:36px;}

/*第四屏*/
.fourthScrees .content {background: url(../images/intro-03.jpg) no-repeat;width:100%;height:100%; background-size:cover;}
.fourthScrees .title {color: #212121;font-size: 40px;font-weight: normal; text-align:center; padding-top:135px; margin-bottom:40px;}
.fourthScrees .intro-list{text-align:center; line-height:36px;}
.fourthFont h5{padding-top:0;}
.fourthFont .second-des{padding-top:20px;}
.fourthFont .paddingH{padding-top:164px;}
.fourthFont .fontPadding{padding-top:64px;} 
/*第五屏*/
.fifthScrees{background:#fff;}
.fifthScrees .poster{background:url(../images/intro-04.png) no-repeat 50px 120px;background-size:90%;width:100%;height:100%;transform:scale(1.2);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.0);-o-transform:scale(1.2);transition:all 20s ease;-webkit-transition:all 20s ease;-moz-transition:all 20s ease;-ms-transition:all 20s ease;-o-transition:all 20s ease;}
.fifthScrees .poster-wrapper{position:absolute;left:0;top:0;width:50%;height:100%;overflow:hidden;}
.fifthScrees .fontPadding{padding-top:70px;}
.fifthScrees .title {color: #212121;font-size: 40px;font-weight: normal; text-align:center; padding-top:135px; margin-bottom:40px;}
.fifthScrees .intro-list{text-align:center; line-height:36px;}
.fifthFont{width:50%;float:right;position:relative;z-index:10;}
/*第六屏*/
.sixthScrees{background:#fff;}
.sixthScrees .poster{background:url(../images/intro-05.jpg) no-repeat 50px 120px;background-size:80%;width:100%;height:100%;transform:scale(1.2);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.0);-o-transform:scale(1.2);transition:all 20s ease;-webkit-transition:all 20s ease;-moz-transition:all 20s ease;-ms-transition:all 20s ease;-o-transition:all 20s ease;}
.sixthScrees .poster-wrapper{position:absolute;right:0;top:0;width:50%;height:100%;overflow:hidden;}
.sixthScrees .fontPadding{padding-top:70px;}
.sixthScrees .title {color: #212121;font-size: 40px;font-weight: normal; text-align:center; padding-top:135px; margin-bottom:40px;}
.sixthScrees .intro-list{line-height:36px; width:350px; margin:0 auto;}
.sixthFont{width:50%;float:left;position:relative;z-index:10;}
.safeInfo{width:100%;height:136px;position:absolute;bottom:0;left:0;background-color: rgba(0,0,0,0.5);}
/*第七屏*/
.seventhScreens{background:#f2f2f2;}
.seventhScreens .poster{background:url(../images/buy.jpg) no-repeat 100px 220px;background-size:20%;width:100%;height:100%;transform:scale(1.2);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.0);-o-transform:scale(1.2);transition:all 20s ease;-webkit-transition:all 20s ease;-moz-transition:all 20s ease;-ms-transition:all 20s ease;-o-transition:all 20s ease;}
.seventhScreens .poster-wrapper{position:absolute;right:0;top:0;width:50%;height:100%;overflow:hidden;}
.seventhScreens .fontPadding{padding-top:70px;}
.seventhScreens .title {color: #212121;font-size: 40px;font-weight: normal; text-align:center; padding-top:135px; margin-bottom:40px;}
.seventhScreens .intro-list{line-height:26px; width:350px; margin:0 auto;}
.seventFont{width:50%;float:left;position:relative;z-index:10;}
.sevenRight a{cursor:pointer;display:block;color:#fff;margin:0 auto;margin-top:78px;width:250px;height:64px;line-height: 64px;font-size:30px;background-color:#0366ce;text-align:center;}
/*购买*/
.btn {
  border: 1px solid #b0b0b0;
  color: #b0b0b0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 38px;
  line-height: 38px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: all 0.4s ease 0s;
  width: 158px;
}
.section-buy .btn {
  font-size: 20px;
  height: 58px;
  line-height: 58px;
  margin: 15px 0;
  width: 248px;
}
.section-buy .btn-primary {
  background-color: #329cff;
  border-color: #329cff;
  color:#fff;
}
/*下载框*/
.downLoadBox{z-index:999999999999;width:100%;height:100%;background-color: rgba(0,0,0,0.5);
	position: fixed;left:0;top:0;display: none;}
.downLoadContent{width:450px;height:500px;background-color: #fff;
	position:fixed;left:50%;margin-left:-225px;top:50%;margin-top:-220px;}
.downLoadContent *{text-align:center;}
.downLoadContent h4{font-size:24px;color:#333;padding:23px 0 23px 0;font-weight:normal;}
.downLoadContent .version{width:100%;text-align:center;}
.downLoadContent .version span.line{display:inline-block;width:85px;height:1px;overflow:hidden;line-height:0;font-size:0;background:#ccc;position:relative;left:0;top:-4px;}
.downLoadContent .version a.des{font-size:14px;color:#333;margin:0 10px;}
.downLoadContent>h5{font-size:14px;color:#333;clear: both;margin-top:50px;}
.downLoad>img{/*float:left;*/margin:24px 125px 24px 125px;width:200px;height:200px;}
.downRight{width:100%;text-align:center;}
.downRight h5{font-size:24px;color:#0366ce;padding:14px 0 50px 0;}
.downRight a{display:inline-block;width:110px;height:32px;text-indent:-999em;}
.downRight a{background:url(../images/adr-icon.png) no-repeat;}
.downRight a:hover{background:url(../images/adr-h-icon.png) no-repeat;}
.downRight .down_ios{margin-bottom:20px;background:url(../images/ios-icon.png) no-repeat;}
.downRight .down_ios:hover{background:url(../images/ios-h-icon.png) no-repeat;}
.box-close{display:block;width:24px;height:24px;background:url(../images/box-close.png) no-repeat center center;position: absolute;top:-34px;right:0;}	
.base .version{padding-bottom:30px;margin:0 auto;}
@media screen and (max-width: 1800px) and (min-width: 1600px){
	.fourthFont .paddingH,.fourthScrees h5,.fifthFont h5{font-size:30px;padding-top:230px;}
	.fourthFont h5{padding-top:0;text-align: center;}
	
	.thirdScrees h5{padding-top:220px;}
	.thirdScrees .lastP{margin-bottom: 180px;}
	.lastP{margin-bottom:190px;}
}
@media screen and (max-width: 1600px){	
	.secondRight .secoImg1{top:310px;}
	.secondRight .secoImg2{top:260px;}
	.secondRight .secoImg3{top:210px;}
	.secondRight .secoImg4{top:160px;}
    .secondRight img.secoDefault{top:310px;}
	.secondRight .secoImg5{top:130px;left:0;margin:0;}
	.secondRight .secoImg6{top:30px;left:430px;margin:0;}
	.sevenLeft{padding-left:50px;width:/*800px;*/}
    .sevenLeft .sevenImg1{left:60px;}
	.sevenLeft .sevenImg2{left:100px;}
	.sevenLeft .sevenImg3{left:308px;}
	.sevenLeft .sevenImg4{left:560px;}
	.sevenLeft .sevenImg5{left:600px;}
	.lastP{margin-bottom:200px;}
}

@-webkit-keyframes move{
	0%{
		margin-top:-10px;
		opacity:0;
	}
	100%{
		margin-top:18px;
		opacity:1;
	}
}

@keyframes move{
	0%{
		margin-top:-10px;
		opacity:0;
	}
	100%{
		margin-top:18px;
		opacity:1;
	}
}
.scale .poster{transform:scale(1.0);-webkit-transform:scale(1.0);-moz-transform:scale(1.0);-ms-transform:scale(1.0);-o-transform:scale(1.0);}
