@charset "utf-8";
/* CSS Document */
.rg{background:url(../imgs/rg.png) center no-repeat;height:601px;}

/*中间部分*/
.rg .midd{width:934px;height:536px;margin:10px auto;}
.rg .main{background:rgba(196,184,184,0.51);width:371px;height:479px;float:right;}.rg .main .wh{background:#f2f2f2;width:348px;height:459px;margin:10px auto;}
.rg .main .fm{width:275px;height:311px;margin:5px auto;color:#4d4d4d;}
.rg .main .wh p.us{font-size:16px;height:70px;font-weight:bold;padding-left:36px;line-height:77px;border:1px solid #cccccc;}
.fm ul{list-style:none; width: 274px;height:170px;}
.fm ul li{ width: 274px;height:35px; margin:19px auto;position:relative;}
.fm ul li .pla{width: 262px;height:29px;line-height:4px;background:#fff;border:1px #999999 solid}
.fm ul li input{width: 224px;height:18px;font-size: 12px;padding: 5px 5px 4px 5px;}
.fm ul li .yz{width:141px;height:29px;background:#fff;position:relative;}
.fm ul li .yz span.yzm{background-position: -34px 2px;right: 9px;}
.fm ul li .yz input.in {width:104px;}
.fm ul li .pla span{position: absolute;right: 21px;top: 8px;background:url(../imgs/tip.png) no-repeat;width:10px;height:14px;}
.fm ul li .pla span.rt{background-position:-24px 2px;}
.fm ul li .pla span.lock{background-position:-3px 2px;}
.fm ul li .che{left: 7px;position: absolute;top: 5px;display:none;}
.fm ul li .tip{width:92px;height:28px;position:absolute;border:0px solid; margin: -31px 169px;cursor:pointer}
.fm ul li strong{cursor:pointer;background:url(../imgs/tip.png) no-repeat;width:14px;height:14px;display:block;margin-left:9px;background-position:-46px 1px; }
.fm ul li .remeber{left: 35px;top: -2px;font-size:12px;position: absolute;}
.fm ul li .submit{width: 274px;height:29px;color:#fff;cursor:pointer;background:#0365c3;padding:0px;}
.fm ul li .submit:hover{background:#046ec7;}
.fm .bott{width: 264px;height:29px;color:#4d4d4d;font-size:12px; margin-left: 5px;}
.fm p a{color:#4d4d4d;}
.fm .bott a.forget{float:left}
.fm .bott span{float:right;}
.msgbox{height:30px;position: relative;width:auto;display:none;top:0px;z-index: 10;margin-top:0px;}
.msgbox img{height:7px;width:10px;margin-left:242px;}
.msgbox .msgdiv{height:auto;background-color:black; margin-top:0; color:white;text-align:left;font-size:12px ;line-height: 17px;border-radius:2px;padding-left:5px;z-index:13}
.showOpa{background-color:black;opacity:0.7;position: absolute; width:93px;height:30px;text-align: center; line-height: 30px; display:none;font-size:14px;color:white}
