<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="header">

</head>
<body>
	<div class="container">
		<div class="row" th:include="toolbar"></div>
		<div class="row">
		<div th:include="left"></div>
			<div class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-body">
						<form class="form-horizontal"
							th:action="@{/cms/cmscategory/save}"
							method="post">
							<fieldset>
								<legend>栏目</legend>
								<input type="hidden" name="id" th:value="${model.id}">

								

								<div class="form-group"  style="display:none">

									<label class="col-md-2 control-label" for="siteId">站点</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="siteId" name="siteId" placeholder="站点"  th:value="${model.siteId}">
									</div>
									
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="name">名称</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="name" name="name" placeholder="名称"  th:value="${model.name}"
											>
									</div>
								</div>

								<div class="form-group" style="display:none">

									<label class="col-md-2 control-label" for="parentId">父分类</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="parentId" name="parentId" placeholder="父分类"  th:value="${model.parentId}">
									</div>
									
								</div>

								<div class="form-group" style="display:none">

									<label class="col-md-2 control-label" for="typeId">分类类型</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="typeId" name="typeId" placeholder="分类类型"  th:value="${model.typeId}">
									</div>
									
								</div>

								<div class="form-group" style="display:none">

									<label class="col-md-2 control-label" for="childIds">子分类</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="childIds" name="childIds" placeholder="子分类"  th:value="${model.childIds}"
											>
									</div>
								</div>

								<div class="form-group" style="display:none">

									<label class="col-md-2 control-label" for="tagTypeIds">标签ID</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="tagTypeIds" name="tagTypeIds" placeholder="标签ID"  th:value="${model.tagTypeIds}"
											>
									</div>
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="code">编码</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="code" name="code" placeholder="编码"  th:value="${model.code}"
											>
									</div>
								</div>

								<div class="form-group" style="display:none">

									<label class="col-md-2 control-label" for="templatePath">模板路径</label>
									
									
									
									<div class="col-md-10" >
										<input type="text" class="form-control"
											id="templatePath" name="templatePath" placeholder="模板路径"  th:value="${model.templatePath}"
											>
									</div>
								</div>

								<div class="form-group" style="display:none">

									<label class="col-md-2 control-label" for="path">路径</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="path" name="path" placeholder="路径"  th:value="${model.path}"
											>
									</div>
								</div>

								<div class="form-group" style="display:none">

									<label class="col-md-2 control-label" for="hasStatic">有静态化</label>
									<div class="col-md-10">
										<div class="togglebutton">
											<label> <input type="checkbox" class="form-control"
												id="hasStatic" name="hasStatic" placeholder="有静态化" th:checked="${model.hasStatic}"><span
												class="toggle"></span>
											</label>
										</div>
									</div>
									
									
									
								</div>

								<div class="form-group" style="display:none">

									<label class="col-md-2 control-label" for="url">地址</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="url" name="url" placeholder="地址"  th:value="${model.url}"
											>
									</div>
								</div>

								<div class="form-group" style="display:none">

									<label class="col-md-2 control-label" for="contentPath">内容路径</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="contentPath" name="contentPath" placeholder="内容路径"  th:value="${model.contentPath}"
											>
									</div>
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="pageSize">每页数据</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="pageSize" name="pageSize" placeholder="每页数据"  th:value="${model.pageSize}">
									</div>
									
								</div>

								<div class="form-group" style="display:none">

									<label class="col-md-2 control-label" for="allowContribute">允许投稿</label>
									<div class="col-md-10">
										<div class="togglebutton">
											<label> <input type="checkbox" class="form-control"
												id="allowContribute" name="allowContribute" placeholder="允许投稿" th:checked="${model.allowContribute}"><span
												class="toggle"></span>
											</label>
										</div>
									</div>
									
									
									
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="sort">排序</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="sort" name="sort" placeholder="排序"  th:value="${model.sort}">
									</div>
									
								</div>

								<div class="form-group" style="display:none">

									<label class="col-md-2 control-label" for="hidden">是否隐藏</label>
									<div class="col-md-10">
										<div class="togglebutton">
											<label> <input type="checkbox" class="form-control"
												id="hidden" name="hidden" placeholder="是否隐藏" th:checked="${model.hidden}"><span
												class="toggle"></span>
											</label>
										</div>
									</div>
									
									
									
								</div>

								<div class="form-group" style="display:none">

									<label class="col-md-2 control-label" for="disabled">是否删除</label>
									<div class="col-md-10">
										<div class="togglebutton">
											<label> <input type="checkbox" class="form-control"
												id="disabled" name="disabled" placeholder="是否删除" th:checked="${model.disabled}"><span
												class="toggle"></span>
											</label>
										</div>
									</div>
									
									
									
								</div>

								<div class="form-group" style="display:none">

									<label class="col-md-2 control-label" for="contents">内容数</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="contents" name="contents" placeholder="内容数"  th:value="${model.contents}">
									</div>
									
								</div>

								<div class="form-group" style="display:none">

									<label class="col-md-2 control-label" for="extendId">扩展ID</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="extendId" name="extendId" placeholder="扩展ID"  th:value="${model.extendId}">
									</div>
									
								</div>
								<!-- <div class="form-group">
									<label for="inputEmail" class="col-md-2 control-label">类型</label>

									<div class="col-md-10">
										<input type="text" class="form-control" id="inputEmail"
											name="category" placeholder="category"
											th:value="${cmsContent.categoryId}">
									</div>
								</div>

								<div class="form-group">
									<label for="textArea" class="col-md-2 control-label">Textarea</label>

									<div class="col-md-10">
										<textarea class="form-control" rows="10"
											data-provide="markdown" name="content" id="textArea"
											th:text="${cmsContentAttribute.text}">
									
									</textarea>
										<span class="help-block">A longer block of help text
											that breaks onto a new line and may extend beyond one line.</span>
									</div>
								</div>
								-->
								<div class="form-group">
									<div class="col-md-10 col-md-offset-2">
										<button type="submit" class="btn btn-primary"
											th:text="#{form.submit}">Submit</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function() {
			$(".dateInput").datetimepicker({
				format : 'yyyy-mm-dd hh:ii:ss'
			});

		});
	</script>
</body>
</html>