<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="header">

</head>
<body>
	<div class="container">
		<div class="row" th:include="toolbar"></div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-body">
						<form class="form-horizontal"
							th:action="@{/cms/cmsmodel/save}"
							method="post">
							<fieldset>
								<legend>表单</legend>
								<input type="hidden" name="id" th:value="${model.id}">

								

								<div class="form-group">

									<label class="col-md-2 control-label" for="siteId">站点</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="siteId" name="siteId" placeholder="站点" required="true" th:value="${model.siteId}">
									</div>
									
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="parentId">父模型</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="parentId" name="parentId" placeholder="父模型" required="false" th:value="${model.parentId}">
									</div>
									
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="name">名称</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="name" name="name" placeholder="名称" required="true" th:value="${model.name}"
											>
									</div>
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="templatePath">模板路径</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="templatePath" name="templatePath" placeholder="模板路径" required="false" th:value="${model.templatePath}"
											>
									</div>
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="hasChild">有子模型</label>
									<div class="col-md-10">
										<div class="togglebutton">
											<label> <input type="checkbox" class="form-control"
												id="hasChild" name="hasChild" placeholder="有子模型" th:checked="${model.hasChild}"><span
												class="toggle"></span>
											</label>
										</div>
									</div>
									
									
									
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="onlyUrl">是链接</label>
									<div class="col-md-10">
										<div class="togglebutton">
											<label> <input type="checkbox" class="form-control"
												id="onlyUrl" name="onlyUrl" placeholder="是链接" th:checked="${model.onlyUrl}"><span
												class="toggle"></span>
											</label>
										</div>
									</div>
									
									
									
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="hasImages">有图片列表</label>
									<div class="col-md-10">
										<div class="togglebutton">
											<label> <input type="checkbox" class="form-control"
												id="hasImages" name="hasImages" placeholder="有图片列表" th:checked="${model.hasImages}"><span
												class="toggle"></span>
											</label>
										</div>
									</div>
									
									
									
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="hasFiles">有附件列表</label>
									<div class="col-md-10">
										<div class="togglebutton">
											<label> <input type="checkbox" class="form-control"
												id="hasFiles" name="hasFiles" placeholder="有附件列表" th:checked="${model.hasFiles}"><span
												class="toggle"></span>
											</label>
										</div>
									</div>
									
									
									
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="disabled">已删除</label>
									<div class="col-md-10">
										<div class="togglebutton">
											<label> <input type="checkbox" class="form-control"
												id="disabled" name="disabled" placeholder="已删除" th:checked="${model.disabled}"><span
												class="toggle"></span>
											</label>
										</div>
									</div>
									
									
									
								</div>

								<div class="form-group">

									<label class="col-md-2 control-label" for="extendId">扩展ID</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="extendId" name="extendId" placeholder="扩展ID" required="false" th:value="${model.extendId}">
									</div>
									
								</div>
								<!-- <div class="form-group">
									<label for="inputEmail" class="col-md-2 control-label">类型</label>

									<div class="col-md-10">
										<input type="text" class="form-control" id="inputEmail"
											name="category" placeholder="category"
											th:value="${cmsContent.categoryId}">
									</div>
								</div>

								<div class="form-group">
									<label for="textArea" class="col-md-2 control-label">Textarea</label>

									<div class="col-md-10">
										<textarea class="form-control" rows="10"
											data-provide="markdown" name="content" id="textArea"
											th:text="${cmsContentAttribute.text}">
									
									</textarea>
										<span class="help-block">A longer block of help text
											that breaks onto a new line and may extend beyond one line.</span>
									</div>
								</div>
								-->
								<div class="form-group">
									<div class="col-md-10 col-md-offset-2">
										<button type="button" class="btn btn-default"
											th:text="#{form.cancal}">cancal</button>
										<button type="submit" class="btn btn-primary"
											th:text="#{form.submit}">Submit</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function() {
			$(".dateInput").datetimepicker({
				format : 'yyyy-mm-dd hh:ii:ss'
			});

		});
	</script>
</body>
</html>