
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="/alphablue/header">
</head>
<style>
.buy_first .body {
	margin-top: 100px;
	display: table
}

.buy_first .water-pic {
	float: left;
	margin-right: 14px;
}

.buy_first .content {
	padding-top: 20px;
	float: left;
}

.buy_first .total {
	margin-top: 20px;
	color: #ff6700
}

.buy_first .total span {
	font-size: 30px;
}

.buy_first input, .buy_first textarea {
	border: 1px solid #999;
	padding: 5px 10px;
}

.buy_first .input-text {
	width: 250px
}

.buy_first .input-label {
	width: 80px;
	display: inline-block
}

a.buyBtn {
	background: #0366ce none repeat scroll 0 0;
	display: inline-block;
	font-size: 18px !important;
	height: 40px;
	line-height: 40px;
	width: 120px;
	text-align: center;
	margin-top: 10px;
	margin-left: 85px;
}

label.error {
	display: inline-block;
	color: red;
	padding-left: 16px;
}
</style>
</head>
<body class="">
	<div class="bg">
		<div class="dbf dbf_white">
			<p class="logo">
				<a href="index.html"> <img src="images/logo_blue.png"
					height="65" class="logo_blue large"></a>
			</p>
			<!--导航-->
			<div class="topRightDom">
				<div th:include="alphablue/nav">
					<!--<div class="rm"> <a class="zc" href="https://www.zipeiyi.com/regist/regist.html">注册</a> <a class="dr" href="https://www.zipeiyi.com/login/login.html">登录</a> </div>-->
				</div>
			</div>
		</div>
	</div>
	<div class="contact_main buy_first">
		<form action="" th:action="@{/alphablue/tobuy}" method="post" id="buy-form">
			<div class="container body">
				<div class="buy-water clearfix">
					<div class="water-pic">
						<img alt="" src="images/product1_buy.png" id="pic_product1"
							class="pic_product"> <img alt=""
							src="images/product2_buy.png" id="pic_product2"
							class="pic_product" style="display: none">
					</div>
					<div class="content">
						<h2 class="title">Alpha-blue空气净化器</h2>
						<div class="">购买型号：</div>
						<div class="" th:remove="all-but-first">
							<div style="display: inline" th:each="product,stat:${products}">
								<input name="productId" type="radio" th:value="${product.id}"
									th:id="'p'+${product.id}" th:data="${product.price}" /> <label
									th:for="'p'+${product.id}" class="" th:text="${product.pname}">滤网型</label>
							</div>
						</div>
						<div class="">
							购买数量： <input value="1" name="count" maxlength="2"
								style="width: 30px;"> 台
						</div>
						<div class="total">
							合计（不含运费）：<span></span> 元
						</div>
						<div class="address-edit-box">
							<div class="">收货人信息：</div>
							<div class="box-main">
								<div class="form-section">
								<input type="hidden" name="allprice" id="allprice" />
								<input type="hidden" name="ordertype" value="0" />
								<input type="hidden" name="discount" value="1" />
									<label for="user_name" class="input-label">姓名：</label> <input
										type="text" placeholder="收货人姓名" name="receiver"
										id="user_name" class="input-text">
								</div>
								<div class="form-section">
									<label for="user_phone" class="input-label">手机号：</label> <input
										type="text" placeholder="11位手机号" name="telphone"
										id="user_phone" class="input-text ">
								</div>
								<div class="form-section">
									<label for="user_adress" class="input-label">详细地址：</label>
									<textarea placeholder="省，市，区，路名或街道名称，门牌号" name="address"
										id="user_adress"  class="input-text"></textarea>
								</div>
								<div class="form-section">
									<label for="user_zipcode" class="input-label">邮政编码：</label> <input
										type="text" name="userZipcode" id="user_zipcode"
										class="input-text">
								</div>
							</div>
						</div>
						<a class="buyBtn" id="bt-buy" href="javascript:void(0);">立即购买</a>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!--底部-->
	<div th:include="alphablue/footer"></div>
	<script type="text/javascript" src="js/jquery.validate.min.js"
		th:src="@{/alphablue/js/jquery.validate.min.js}"></script>
	<script type="text/javascript" src="js/jquery.validate-messages_zh.js"
		th:src="@{/alphablue/js/jquery.validate-messages_zh.js}"></script>
	<script type="text/javascript" src="js/jquery.serialize-object.min.js"
		th:src="@{/alphablue/js/jquery.serialize-object.min.js}"></script>
	<script src="js/main.js"></script>
	<script>
		$(document)
				.ready(
						function() {
							$("input[name=productId]").click(function(e) {
								var isChecked = $(this).is(":checked");
								var val = $(this).val();
								if (isChecked && val == "1") {
									$("img#pic_product1").show();
									$("img#pic_product2").hide();
								} else {
									$("img#pic_product1").hide();
									$("img#pic_product2").show();
								}
								mathNum();
							});

							$("input[name=count]").keyup(function(e) {
								mathNum();
							});
							function mathNum(type) {
								var total = "";
								var num = Number($("input[name=count]").val());
								var price = $("input[name=productId]:checked").attr('data')|0;
								total = num * price;
								$(".total span").text(total);
								$("#allprice").val(total);
								return;

							}
							mathNum("1");

							$("#buy-form").validate({
								focusInvalid : false,
								onkeyup : false,
								rules : {
									user_name : {
										required : true,
										isName : true
									},
									user_phone : {
										required : true,
										isPhone : true
									},
									user_adress : {
										required : true
									},
									user_zipcode : {
										required : true,
										isZipCode : true
									}
								},
								messages : {
									user_name : {
										required : "请填写姓名"
									},
									user_phone : {
										required : "请填写手机号"
									},
									user_adress : {
										required : "请填写详细地址"
									},
									user_zipcode : {
										required : "请填写邮政编码"
									}
								}
							});
							//姓名
							jQuery.validator.addMethod("isName", function(
									value, element) {
								var reg = /^[\u4e00-\u9fa5]{0,}$/;
								return this.optional(element)
										|| (reg.test(value));
							}, "请填写正确的姓名");

							//手机号
							jQuery.validator
									.addMethod(
											"isPhone",
											function(value, element) {
												var reg = /^(0|86|17951)?(13[0-9]|15[012356789]|17[0-9]|18[0-9]|14[57])[0-9]{8}$/;
												return this.optional(element)
														|| (reg.test(value));
											}, "请填写正确的手机号码");

							//邮政编码   
							jQuery.validator.addMethod("isZipCode", function(
									value, element) {
								var reg = /^[0-9]{6}$/;
								return this.optional(element)
										|| (reg.test(value));
							}, "请填写正确的邮政编码");

							$('#bt-buy')
									.on(
											'click',
											function() {
												var validator = $("#buy-form")
														.validate();
												var formState = validator
														.form();
												if (formState) {
													$("#buy-form").submit();
												}
											});
						});
	</script>
</body>
</html>