<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="/alphablue/header">
</head>
<link rel="stylesheet" type="text/css" href="css/news.css" th:href="@{/alphablue/css/login.css}">
<link rel="stylesheet" type="text/css" href="css/footer1.css" th:href="@{/alphablue/css/regist_new.css}">
<body class="">
<div class="bg">
  <div class="dbf dbf_white">
    <p class="logo"> <a href="index.html"> <img src="images/logo_blue.png"  height="65" class="logo_blue large"></a></p>
    <!--导航-->
    <div class="topRightDom">
      <div th:include="alphablue/nav">
    </div>
  </div>
  </div>
</div>
<div class="main">
    	<div class="registContent">
        	<div class="topJumpPic">
                <div class="text1 sel"></div>
                <div class="text2">用户登录</div>
                <div class="text3"></div>
            </div>
            
            <div class="fm">
                <form id="form" method="post" th:action="@{/alphablue/login}" autocomplete="off">
                    <ul>
                        <li>
                            <label class="rt">用户名:</label>
                            <div class="inputDom">
                            	<div class="iconDom"><span class="icon_username"></span></div>
                                <input id="reg_id" name="username" type="text"	placeholder="请输入用户名"  />
                            </div>
                            <div class="hasError"></div>
                            <div class="errorText">用户名不能为空</div>
                        </li>
                        
                        <li>
                            <label class="rt">密&nbsp;&nbsp;码:</label>
                            <div class="inputDom">
                            	<div class="iconDom"><span class="icon_password"></span></div>
                                <input  id="reg_pwd" class="pwd"  type="password" name="password"  placeholder="请输入登录密码" />
                                <input type="hidden" id="pwdstr" value=""/>
                            </div>
                            <div class="hasError"  ></div>
                            <div class="errorText">密码长度大于6,小于等于16</div>
                        </li>
                        <li th:text="${error}"></li>
                        <li class="regs">
                            <input type="submit" class="submit" id="submit" value="登录" />
                            <span>没有账号，<a  th:href="@{/alphablue/regist}">立即注册&gt;</a></span>
                        </li>
                        
                    </ul> 
                </form>
            </div>
        </div>
    </div>
<!--底部-->

<div th:include="alphablue/footer"></div>
</body>
</html>