<div class="nav">
        <ul class="first_nav">
          <li><a href="view_company.html" class="first_nav_link">概况
          			<ul class="second_nav">
                    	<li class="second_nav_li"><span class="second_nav_link" url="view_company.html">公司概况</span></li>
                        <li class="second_nav_li"><span class="second_nav_link" url="view_product.html">产品概况</span></li>
                    </ul>
          		</a>
          </li>
          <li><a href="product_one.html" class="first_nav_link">滤网型
            <ul class="second_nav">
              <li class="second_nav_li"><span class="second_nav_link" url="product_one.html#1">产品外观</span></li>
              <li class="second_nav_li"><span class="second_nav_link" url="product_one.html#2">核心技术</span></li>
              <li class="second_nav_li"><span class="second_nav_link" url="product_one.html#3">优势解析</span></li>
              <li class="second_nav_li"><span class="second_nav_link" url="product_one.html#4">技术指标</span></li>
            </ul>
            </a> </li>
          <li><a href="product_two.html" class="first_nav_link">无耗材型
            <ul class="second_nav">
              <li class="second_nav_li"><span class="second_nav_link" url="product_two.html#1">产品外观</span></li>
              <li class="second_nav_li"><span class="second_nav_link" url="product_two.html#2">核心技术</span></li>
              <li class="second_nav_li"><span class="second_nav_link" url="product_two.html#3">优势解析</span></li>
              <li class="second_nav_li"><span class="second_nav_link" url="product_two.html#4">技术指标</span></li>
            </ul>
            </a></li>
          <li><a href="javascript:void(0);" class="first_nav_link">活动</a></li>
          <li><a href="share_science.html" class="first_nav_link">分享
            <ul class="second_nav">
              <li class="second_nav_li"><span class="second_nav_link" url="share_science.html">科普</span></li>
              <li class="second_nav_li"><span class="second_nav_link" url="share_news.html">新闻</span></li>
            </ul>
            </a></li>
          <li><a href="download.html" class="first_nav_link">下载</a></li>
          <li><a href="contact.html" class="first_nav_link">联系我们</a></li>
          <li><a href="login.html" class="first_nav_link">家园</a></li>
          <li><a class="buy" href="buy_first.html">立即购买</a></li>
          <!--<li class="smallLink"><a class="navLink_login" href="login.html">登录</a> &nbsp;|&nbsp; <a class="navLink_login" href="regist.html">注册</a></li>-->
        </ul>
      </div>