<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="header">
</head>
<body>
	<div class="container">
		<div class="row" th:include="toolbar"></div>
		<div class="row">
			<div
				th:include="left(params1='sysrole')"></div>
			<div class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-body">

						<form class="form-horizontal"
							th:action="@{/sys/sysrole/save}"
							method="post">

							<fieldset>
								<input type="hidden" name="id" th:value="${model.id}">
								<div class="form-group">
									<div class="col-md-10">

										<button type="submit" class="btn btn-default"
											th:text="#{form.save}">save</button>
									</div>
								</div>
								
								<div class="form-group">

									<label class="col-md-2 control-label" for="siteId">站点</label>
									
									
									<div class="col-md-10">
										<input type="number" class="form-control"
											id="siteId" name="siteId" placeholder="站点" required="true" th:value="${model.siteId}">
									</div>
									
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="name">名称</label>
									
									
									
									<div class="col-md-10">
										<input type="text" class="form-control"
											id="name" name="name" placeholder="名称" required="true" th:value="${model.name}">
									</div>
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="ownsAllRight">拥有全部权限</label>
									<div class="col-md-10">
										<div class="checkbox">
											<label> <input type="checkbox"
												id="ownsAllRight" name="ownsAllRight" placeholder="拥有全部权限" th:checked="${model.ownsAllRight}" />
											</label>
										</div>
									</div>
									
									
									
								</div>
								<div class="form-group">

									<label class="col-md-2 control-label" for="showAllMoudle">显示全部模块</label>
									<div class="col-md-10">
										<div class="checkbox">
											<label> <input type="checkbox"
												id="showAllMoudle" name="showAllMoudle" placeholder="显示全部模块" th:checked="${model.showAllMoudle}" />
											</label>
										</div>
									</div>
									
									
									
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function() {
			$(".dateInput").datetimepicker({
				format : 'yyyy-mm-dd hh:ii:ss'
			});

		});
	</script>
</body>
</html>