/* CSS Document */

/*底部*/
.base{background-color:#eee;width:100%; min-height:200px; -webkit-box-shadow:inset 0px 3px 3px rgba(0,0,0,0.2);  -moz-box-shadow:inset 0px 3px 3px rgba(0,0,0,0.2); box-shadow:inset 0px 3px 3px rgba(0,0,0,0.2); }
.base .footler{max-width:1000px;margin: 0 auto; height: ; padding:30px 10px 0 10px;}

.base .footler .left{float: left;  font-size:12px}
.base .footler .left a{ display:block; width:152px; color:#666;}
.base .footler .left p{font-size:14px;color:#999; margin: 10px 0px; font-family:Arial; line-height:20px; text-align:right; padding-right:10px;}


.base .footler .right{max-width:700px;float:right;text-align:justify; }
.base .footler .right ul{float:left; width:160px;height:70px;}
.base .footler .right ul p{font-size:16px;margin: 0px -50px 15px 0px;color:#999}
.base .footler .right ul li{display:block;width:160px;float:left;font-size:16px;margin: 0px -50px 10px 0px ; color:#999}
.base .footler .right ul li a{ text-decoration:none;color:#999;}
.base .footler .right ul li a:hover{color:#b3b3b3;}
.base .footler .right ul.langUl{width:180px}
.base .footler .right ul.langUl li{width:160px}

.base .footler .right .content{color:#999; font-size:16px; text-align:center; line-height:28px; float:left;display:inline; margin-right:125px;}
.base .footler .right .last{margin-right:0px;}
.base .footler .right .content a{ text-decoration:none;color:#999; display:block;}
.base .footler .right .content a:hover{color:#b3b3b3;}
/*产品页面页脚*/
.base .otherPageFootler{ padding-top:150px}

@media screen and (max-width: 1024px) { /*当屏幕尺寸小于1024px时，应用下面的CSS样式*/
.base .footler .right{max-width:700px;height: 160px;float:right;text-align:justify; margin-right:55px}
}


/** 微信图标 */
.webchart {position: absolute; display:none;}
/* 版权信息 */
.base .version {font-size:16px;color:#999;max-width:1000px;margin:0 auto 30px; text-align:center}
.base .version a{ text-decoration:none;color:#999;}
.base .version a:hover{color:#b3b3b3;}
