@charset "utf-8";
/* CSS Document */
.firstScreen {min-height:911px !important}
.firstScreen .ck-slide ul { margi: 0; padding: 0; list-style-type: none;}
.firstScreen .ck-slide { position: relative; overflow: hidden;}
.firstScreen .ck-slide ul.ck-slide-wrapper { position: absolute; top: 0; left: 0; z-index: 1; margin: 0; padding: 0;z-index:100;}
.firstScreen .ck-slide ul.ck-slide-wrapper li { position: absolute; width:100%; height:100%;}
.firstScreen .ck-slide .ck-prev, .ck-slide .ck-next { position: absolute; top: 50%; z-index: 2; width: 35px; height: 70px; margin-top: -35px; border-radius: 3px; opacity: .15; background: red; text-indent: -9999px; background-repeat: no-repeat; transition: opacity .2s linear 0s; z-index:999}
.firstScreen .ck-slide .ck-prev { left: 5px; background: url(../images/arrow-left.png) #000 50% no-repeat;}
.firstScreen .ck-slide .ck-next { right: 5px; background: url(../images/arrow-right.png) #000 50% no-repeat;}
.firstScreen .ck-slidebox { position: absolute; left: 50%; bottom: 12px; z-index: 30;}
.firstScreen .ck-slidebox ul { height: 20px; padding: 0 4px; border-radius: 8px; /*background: rgba(0,0,0,0.5);*/}
.firstScreen .ck-slidebox ul li { float: left; height: 12px; margin: 4px 4px;}
.firstScreen .ck-slide .roller{width:100%;text-align:center;overflow:hidden;position:absolute;left:0;bottom:20px;z-index:200;}
.firstScreen .ck-slide .roller span{display:inline-block;cursor:pointer;width:10px;height:10px;margin-right:18px;background:rgba(255,255,255,.5);border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;}
.firstScreen .ck-slide .roller span.cur{background:#fff;}

.firstScreen .ck-slidebox ul li em { display: block; width: 12px; height: 12px; border-radius: 100%; text-indent: -9999px; cursor: pointer;}
.firstScreen .ck-slidebox ul li em{filter:Alpha(opacity=30);background:#fff;}
.firstScreen .ck-slidebox ul li em{background:rgba(255, 255, 255, 0.3) !important;}
.firstScreen .ck-slidebox ul li.current em{filter:Alpha(opacity=100);background:#fff;}
.firstScreen .ck-slidebox ul li.current em{background:rgba(255, 255, 255, 1) !important;}
.firstScreen .ck-slidebox ul li em:hover{filter:Alpha(opacity=100);background:#fff;}
.firstScreen .ck-slidebox ul li em:hover{background:rgba(255, 255, 255, 1) !important;}

.firstScreen .ck-slide { width: auto; height: 100%; margin: 0 auto;}
.firstScreen .ck-slide ul.ck-slide-wrapper { height: 100%; width:100%; display:block;}
.firstScreen .ck-slide li.pic1 { background:url(../images/intro-01.png) center no-repeat; background-size:cover;}
.firstScreen .ck-slide li.pic2 { background:url(../images/intro-02.png) center no-repeat; background-size:cover;}
.firstScreen .ck-slide li.pic3 {position: relative; background:url(../images/intro-03.png) center no-repeat; /*background-size:cover;*/}
.firstScreen .ck-slide li.pic1 .floatText{margin:280px 0 50px;text-align:center} 
.firstScreen .ck-slide li.pic1 .text1{ font-size:56px; color:#FFF; margin:0 0 50px; text-align:center}
.firstScreen .ck-slide li.pic1 .text1_new{ font-size:30px; color:#FFF; margin:0 0 50px; text-align:center}
.firstScreen .ck-slide li.pic1 .planText{ font-size:56px; color:#FFF; margin:320px 0 50px; text-align:center}

.firstScreen .ck-slide li.pic1 .text2{ font-size:24px; color:#FFF; text-align:center;}
.firstScreen .ck-slide li.pic2 .floatText{margin: 310px 52% 50px;    position: absolute;    text-align: center;}
.firstScreen .ck-slide li.pic2 .contentDom{ width:750px; height:525px; margin-top:170px; margin-left:auto; margin-right:auto; color:#FFF; background: url(../images/index_iphonePic.png) no-repeat right;}



.firstScreen .ck-slide li.pic2 .text1,
.firstScreen .ck-slide li.pic3 .text1{font-size:36px; color:#363636}

.firstScreen .ck-slide li.pic2 .buy_btn a,
.firstScreen .ck-slide li.pic3 .buy_btn a{font-size:24px; color:#FFF; text-align:center; display:block; background-color:#0366ce; width:160px; height:50px; line-height:50px; border-radius:6px;}

@media screen and (max-width: 1600px){
	.firstScreen .ck-slide li.pic2 .text1,
	.firstScreen .ck-slide li.pic3 .text1{ font-size:34px; line-height:70px; padding-left: 740px; padding-top: 220px;}
	.firstScreen .ck-slide li.pic2 .buy_btn,
	.firstScreen .ck-slide li.pic3 .buy_btn{padding-left: 740px; padding-top: 230px;}
}
@media screen and (max-width: 1450px){
	.firstScreen .ck-slide li.pic2 .text1,
	.firstScreen .ck-slide li.pic3 .text1{ font-size:34px; line-height:70px; padding-left: 650px; padding-top: 220px;}
	.firstScreen .ck-slide li.pic2 .buy_btn,
	.firstScreen .ck-slide li.pic3 .buy_btn{padding-left: 650px; padding-top: 230px;}
}

