@charset "utf-8";
/* 二级导航*/
.second_nav{display:none; position:absolute; margin-top:29px;box-shadow:0 3px 3px rgba(0,0,0,0.1); min-width:100px}
.second_nav{filter:Alpha(opacity=90);background:#FFF;}
.second_nav{background:rgba(255, 255, 255, 0.9) !important;}
.bg .nav ul.second_nav li.second_nav_li{ display: block; float:none; margin:0; padding: 8px 10px 0}
.second_nav_li:hover{ background-color:#0366ce; color:#fff}
a.first_nav_link{padding-bottom:30px}

.contact_main{ background-color:#FFF; border-top:1px solid #ddd; min-height:200px; padding: 50px 0;}
.contact_main .body {margin:0px auto; width:900px;}
.contact_main .body .title {color: #0366ce;    font-size: 22px;    margin-bottom: 22px;}
.contact_main .body div { line-height:40px}
.contact_main .body .wxCode { padding-left:150px}