<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="header">

</head>
<body>
	<div class="container">
		<div class="navbar-fixed-top">
			<div class="progress progress-striped active" id="pb"
				style="display: none">
				<div class="progress-bar progress-bar-info" style="width: 20%"
					id="idw"></div>
			</div>
		</div>
		<div class="row" th:include="toolbar"></div>
		<div class="row">
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="javascript:void(0)" th:href="@{/cms/admin/lanmu}">全部文件</a></li>
					<li><a href="javascript:void(0)" th:href="@{/cms/admin/list}">视频</a></li>
					<li>...</li>
					<li><a href="javascript:void(0)"
						th:href="@{/cms/admin/system}">系统管理</a></li>
				</ul>
			</div>
			<div class="col-md-10">
				<button data-toggle="modal" data-target=".bs-example-modal-sm"
					class="btn btn-raised btn-success">新建文件夹</button>
				<button data-toggle="modal" data-target=".bs-example-modal-sm2"
					class="btn  btn-success">上传</button>
			</div>
			<div class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-body" style="overflow: scrollor">
						<div id="toolbar">
							<!-- /input-group -->
							<ol class="breadcrumb" id="breadOl">
								<li id="li_0"><a onclick="loadDir(0)">全部文件</a></li>

							</ol>

						</div>

						<ul id="example1-context-menu" class="dropdown-menu">
							<li data-item="edit"><a>Edit</a></li>
							<li data-item="delete"><a>Delete</a></li>
							<li data-item="action1"><a>Action Here</a></li>
							<li data-item="action2"><a>And Action Here</a></li>
						</ul>

						<table class="table table-striped" id="table"
							data-query-params="getParams" data-show-refresh="true"
							data-show-toggle="true" data-show-columns="true"
							data-toolbar="#toolbar" data-id-field="id"
							data-single-select="true" data-click-to-select="true"
							 th:attr="data-url=@{/cloud/dir/list}">
							<thead>
								<tr>
									<th data-radio="true"></th>
									<th data-field="fileName" data-formatter="getAhref">名称</th>
									<th data-field="createDate">时间</th>
									<th data-field="fileSize">大小</th>
								</tr>
							</thead>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h5>新建文件夹</h5>
				</div>
				<div class="modal-body">
					<form class="form-inline" th:action="@{/cloud/dir/add}" id="aForm">
						<div class="form-group">
							<label for="exampleInputName2">Name</label> <input type="text"
								class="form-control" id="exampleInputName2"
								placeholder="Jane Doe">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="saveDir">Save
						changes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade bs-example-modal-sm2" tabindex="-1"
		role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h5>上传文件</h5>
				</div>
				<div class="modal-body">
					<form class="form-inline" th:action="@{/cloud/file}" id="aFileForm">
						<div class="form-group">
							<input type="file" id="file_upload" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		var nowchose = 0;
		function getParams(params) {
			console.log(params);
			params['pid'] = nowchose;
			return params;
		}
		function loadDir(parentId, dirName) {

			$('#table').bootstrapTable();
			$("#li_" + parentId + " ~ li").remove();
			if (parentId > 0 && (parentId > nowchose)) {
				var html = "<li class='active' id=li_"+parentId+" ><a  onclick=\"loadDir("
						+ parentId
						+ ",'"
						+ dirName
						+ "')\">"
						+ dirName
						+ "</a></li>";
				$("#breadOl li:last").after(html);
			}
			nowchose = parentId;
			$('#table').bootstrapTable("refresh");
		}

		function getAhref(val, row, index) {
			if (row.isdir == 0) {
				return "<span>" + val + "</span>";
			} else
				return '<a href="#" onclick="loadDir(' + row.id + ',\'' + val
						+ '\')">' + val + '<a>';
		}

		$(function() {
			$("#saveDir").click(function() {
				var url = $("#aForm").attr('action');
				console.log(url);
				var dd = {};
				if (false) {

				} else {
					dd.dirName = $("#exampleInputName2").val();
				}
				dd.parentId = nowchose;
				op.ajaxSome(url, 'POST', dd, function(res) {
					if (res.isok) {
						alert('保存成功');
						$('#table').bootstrapTable("refresh");
					} else {
						alert("保存失败" + res.message);
					}
				});
			});
			$('#table').bootstrapTable(
					{
						contextMenu : '#example1-context-menu',
						onContextMenuItem : function(row, $el) {
							if ($el.data("item") == "edit") {
								alert("Edit: " + row.itemid + ' ' + row.name
										+ ' ' + row.price);
							} else if ($el.data("item") == "delete") {
								alert("Delete: " + row.itemid + ' ' + row.name
										+ ' ' + row.price);
							} else if ($el.data("item") == "action1") {
								alert("Action1: " + row.itemid + ' ' + row.name
										+ ' ' + row.price);
							} else if ($el.data("item") == "action2") {
								alert("Action2: " + row.itemid + ' ' + row.name
										+ ' ' + row.price);
							}
						}
					});
			//初始化上传控件

			$('#file_upload').uploadify({
				'swf' : '[[${#ctx.servletContext}]]/uploadify/uploadify.swf',
				'uploader' : '[[${#ctx.servletContext}]]/cloud/file',
				'method' : 'POST',
				'fileObjName' : 'file',
				'onUploadStart' : function(file) {
					$("#file_upload").uploadify("settings", "formData", {
						'pid' : nowchose
					});
					//在onUploadStart事件中，也就是上传之前，把参数写好传递到后台。  
				}
			// Put your options here

			});
		});
	</script>
</body>
</html>