<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="header">
</head>
<body>
	<div class="container">
		<div class="row" th:include="toolbar"></div>
		<div class="row">
			<div
				th:include="left(params1='[[${#strings.toLowerCase(className)}]]')"></div>
			<div class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-body">

						<form class="form-horizontal"
							th:action="@{/[[${base}]]/[[${#strings.toLowerCase(className)}]]/save}"
							method="post">

							<fieldset>
								<input type="hidden" name="id" th:value="${model.id}">
								<div class="form-group">
									<div class="col-md-10">

										<button type="submit" class="btn btn-default"
											th:text="#{form.save}">save</button>
									</div>
								</div>
								<div class="form-group" my:each="cname:${list}"
									my:if="${cname.clumnName!='id'}" my:switch="${cname.clumnType}">

									<label my:attr="for=${cname.clumnName}"
										class="col-md-2 control-label" my:text="${cname.cnName}"></label>
									<div class="col-md-10" my:case="'boolean'">
										<div class="checkbox">
											<label> <input type="checkbox"
												my:attr="id=${cname.clumnName},name=${cname.clumnName},placeholder=${cname.cnName}"
												my:code="checked='${model.'+${cname.clumnName}+'}'" />
											</label>
										</div>
									</div>
									<div class="col-md-10" my:case="date">
										<input type="text" class="form-control dateInput"
											my:attr="id=${cname.clumnName},name=${cname.clumnName},placeholder=${cname.cnName}"
											my:code="value='${model.'+${cname.clumnName}+'}'"
											my:attrappend="${null!=cname.valString?cname.valString:'data'}=${null!=cname.needVal?cname.needVal:''}">
									</div>
									<div class="col-md-10" my:case="num">
										<input type="number" class="form-control"
											my:attr="id=${cname.clumnName},name=${cname.clumnName},placeholder=${cname.cnName}"
											my:code="value='${model.'+${cname.clumnName}+'}'"
											my:attrappend="${null!=cname.valString?cname.valString:'data'}=${null!=cname.needVal?cname.needVal:''}">
									</div>
									<div class="col-md-10" my:case="*">
										<input type="text" class="form-control"
											my:attr="id=${cname.clumnName},name=${cname.clumnName},placeholder=${cname.cnName}"
											my:code="value='${model.'+${cname.clumnName}+'}'"
											my:attrappend="${null!=cname.valString?cname.valString:'data'}=${null!=cname.needVal?cname.needVal:''}">
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function() {
			$(".dateInput").datetimepicker({
				format : 'yyyy-mm-dd hh:ii:ss'
			});

		});
	</script>
</body>
</html>