<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<head th:include="header">
</head>
<body>
<div class="container">
<div class="row" th:include="toolbar"></div>
  <div class="jumbotron">
  <h1>Jumbotron</h1>

  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>

  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>
  </div>
<script th:inline="javascript">
/*<![CDATA[*/
  $(function () {
    $.material.init();
  });
  /*]]>*/
  </script>
</body>
</html>