<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="header">

</head>
<body>
	<div class="container">
		<div class="row" th:include="toolbar"></div>
		<div class="row">
			<div
				th:include="left(params1='sysroleauthorized')"></div>

			<div class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-body" style="overflow: scrollor">
						<!-- /input-group -->
						<form method="post" th:action="@{/sys/sysroleauthorized/delIds}"
								id="delForm">
							<span class="btn-group"> <a href="#"
									th:href="@{/sys/sysroleauthorized/form}"
									class="btn btn-raised btn-success" th:text="#{button.add}">Add</a>
								</span>
								<div class="btn-group">
									<button type="button" class="btn btn-danger"
										th:text="#{button.del}" onclick="delByIds()">del</button>
								</div>	
						<table class="table table-striped">
								
							<tbody>
								<!-- 　//将后台传出的 productList 的集合进行迭代，用product参数接收，通过product访问属性值 -->
								<tr th:each="model,stat:${list}" th:css="info">
									<!-- //用count进行统计，有顺序的显示 -->
									<td>
									<label> <input type="checkbox"
												name="selectId" th:value="${model.id}"> <span
												th:text="${stat.count}"></span>
										</label>
									
									<a
										th:href="@{/sys/sysroleauthorized/form?id={id}(id=${model.id})}"
										th:text="${model.id}"></a></td>
									
									<td>
										
										<span th:text="${model.roleId}"></span></td>
									<td>
										
										<span th:text="${model.url}"></span></td>

								</tr>
							</tbody>
							
						</table>
						</form>
						 <ul class="pagination" id="navfen"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<script>
function delByIds(){
	var size = $("input:checked").size();
	if(size<1){
		alert("未选中数据");
		
	}
	else{
		if(confirm('确认删除?'))
			$("#delForm").submit();
	}
}
$('#navfen').jqPaginator({
    totalPages: [[${list.getTotalPages()}]],
    visiblePages: 10,
    currentPage: [[${param.page}?${param.page}:1]],
    page:'<li class="page"><a href="[[@{/sys/sysroleauthorized/list?page=}]]{{page}}">{{page}}</a></li>'
});
</script>
</body>
</html>