<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="header">

</head>
<body>
	<div class="container">
		<div class="navbar-fixed-top">
			<div class="progress progress-striped active" id="pb"
				style="display: none">
				<div class="progress-bar progress-bar-info" style="width: 20%"
					id="idw"></div>
			</div>
		</div>
		<div class="row" th:include="toolbar"></div>
		<div class="row">
			<div th:include="left(params1='cmscontent')"></div>

			<div class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-body" style="overflow: scrollor">
						<!-- /input-group -->
						<form method="post" th:action="@{/cms/cmscontent/delIds}"
							id="delForm">
							<span class="btn-group"> <a href="#"
								th:href="@{/cms/cmscontent/form}"
								class="btn btn-raised btn-success" th:text="#{button.add}">Add</a>
							</span>
							<div class="btn-group">
								<button type="button" class="btn btn-danger"
									th:text="#{button.del}" onclick="delByIds()">del</button>
							</div>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>标题</th>
										<th>栏目</th>
										<th>创建时间</th>
										<th>状态</th>
									</tr>
								</thead>
								<tbody>
									<!-- 　//将后台传出的 productList 的集合进行迭代，用product参数接收，通过product访问属性值 -->
									<tr th:each="model,stat:${list}" th:css="info">
										<!-- //用count进行统计，有顺序的显示 -->
										<td><label> <input type="checkbox"
												name="selectId" th:value="${model.id}"> <span
												th:text="${stat.count}"></span>
										</label></td>
										<td><a
											th:href="@{/cms/cmscontent/form?id={id}(id=${model.id})}"
											th:text="${model.title}"></a></td>
										<td><span th:text="${model.categoryId}"></span></td>

										<td><span th:text="${#dates.format(model.publishDate)}"></span>




										</td>

										<td><span th:text="${model.status}"></span></td>

									</tr>
								</tbody>
							</table>
							<!-- 分页 -->
						</form>
						<ul id="navfen" class="pagination"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<script>
function delByIds(){
	var size = $("input:checked").size();
	if(size<1){
		alert("未选中数据");
		
	}
	else{
		if(confirm('确认删除?'))
			$("#delForm").submit();
	}
}
$('#navfen').jqPaginator({
    totalPages: [[${list.getTotalPages()}]],
    visiblePages: 10,
    currentPage: [[${param.page}?${param.page}:1]],
    page:'<li class="page"><a href="[[@{/cms/cmscontent/list?page=}]]{{page}}">{{page}}</a></li>'
});
</script>	
</body>
</html>